
 // Colors
$primary: #a51c30;
$white: #fff;
$black:#000;
$black-light: #292c2f;
$gray: #6c6363;
$gray-800: #8996a0;

// Fonts
$heading-ff-1:'Canela Deck Web';
$heading-ff-2: 'Canela Web';
$main-ff: 'GT America Standard Regular';